@import "modules/_vars.scss";
@import "modules/_test.scss";

.park {
  margin: 1rem;
  border: 1px solid green;

  &>* {
    margin-left: 1rem;
  }
}



.visited {
  border: 1px dashed red;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dayDiv {
  width: 13%;
  text-align: center;
}